body{
    margin: 0;
    background-color: #c4c4c4;
    box-sizing: border-box;
}
.topo{
    height: 40px;
    background-color: #333;
    color: white;
}
.topo a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    float: right;
}
.topo a div{
    float: right;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
}
.topo a div:hover{
    background-color: #555;
}
.topousuario{
    float: right;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
}
.cursoItem{
    width: 200px;
    float: left;
    margin-left: 40px;
    margin-right: 10px;
    border: 2px solid rgb(125, 122, 122);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.cursoinfo{
    height: 80px;
    background-color: rgb(177, 175, 175);
}
.cursoinfo img{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 20px;
}
.cursoinfo h3{
    margin: 0;
    padding-top: 10px;
}
.curso_left{
    width: 30%;
    min-height: 300px;
    float: left;
    background-color: #ddd;
    overflow-y: scroll;
}
.curso_right{
    width: 70%;
    min-height: 300px;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modulo{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: #bbb;
}
.aula{
    height: 30px;
    line-height: 20px;
    padding-left: 30px;
}
.aula:hover{
    background-color: black;
    color: white;
}
.hiperlink{
    text-decoration: none;
    color: black;
}
.form_duvida textarea{
    width: 100%;
    height: 150px;
}